@model Equipe

@{
    //aqui é o titulo que fica na página, titulo de browser
    ViewData["Title"] = "Equipe";
}
<h1>TELA DE EQUIPES</h1>

@*todo CADASTRO DE EQUIPES *@
@* quando se cria um form tem que utilizar form aqui tambem *@
<form  method = "post" action='@Url.Action("Cadastrar")'>

    @* Label = Titulo/Nome do form *@
    <label for="">Nome</label>
    <input type="text" name="Nome">

    <label for="">Imagem</label>
    <input type="text" name="Imagem">

    <button type="submit">Cadastrar</button>
</form>



@*todo TABELA COM EQUIPES *@
<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>

    <tbody>
        @*Equipe é um objeto chamar ele como tal, vira o objeto "equipe"*@
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            <tr>
                @*para utilizar um objeto dentro de uma tag HTML tem que chamar pelo arroba*@
                <td>@equipe.IdEquipe</td>
                <td>@equipe.NomeEquipe</td>
                <td>@equipe.Imagem</td>
            </tr>

        }

    </tbody>
</table>
